*{box-sizing: border-box; margin: 0;}

    
body{
    background: rgb(43, 43, 43);
}

header{
    width: 100%;
    height: 60px;
    display: flex;
    background: rgb(43, 43, 43);;
    align-items: center;
    padding: 10px;
    border-bottom: solid rgb(78, 77, 77) 2px;

}

header a{
    text-decoration: none;
    color:white;
}

main{
    width: 100%;
    background: #000000;
    margin: 0 auto;
    height: 1000px;
    display: flex;
}

.main__menu{
    background: rgb(43, 43, 43);
    width: 250px;
    border-right: solid rgb(78, 77, 77) 2px;
    height: 1000px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.tendina{
    text-decoration: none;
    color:white;
    font-family: Arial;
    background-color: orange;
    width: 150px;
    text-align: center;
    border-radius: 20px;
}

.main__pagina{
    background: #000;
    border-right: solid rgb(78, 77, 77) 2px;
    height: 1000px;
    flex: 1;    
}














form{
    display: flex;
    flex-direction: column;
}